.Pokemon {
  box-shadow: 0px 1px 10px -2px gray;
  border-radius: 7px;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  display: grid;
  place-items: center;
  background-color: wheat;
}
